@import "abstract/constants";
@import "abstract/mixins";
@import "base/buttons";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: $colorBg;
    color: $colorFont;
    @include font($size: 1.6rem);
    h1 {
        @include font($size: 5rem, $weight: bold);
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

.inactive {
    opacity: 0.5;
}

.final-image {
    background-image: url(../assets/picture.png);
    background-position: center;
    background-size: cover;
}

.info {
    font-size: 14px;
    color: red;
    z-index: 5;
    max-width: 900px;
}

.login-info {
    font-size: 14px;
    color: navy;
    z-index: 5;
    text-align: center;
    margin: 20px 0 0 80px;
}

.log-out {
    z-index: 10;
    position: fixed;
}

.start {
    position: absolute;
    background-image: url("../assets/start.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    @include flex();
    flex-direction: column;
    z-index: 2;
    @include transition;
    .start__info {
        margin: 40px auto;
        text-align: center;
    }
}

.start__info {
    @include font($size: 2rem);
}

.none {
    display: none;
}

.header {
    @include flex($justify-content: space-between);
    height: 10vh;
    margin: 0 20px;
}

form {
    margin-left: 100px;
}

input {
    width: 40px;
}

.hints {
    @include flex();
    .btn {
        padding: 5px;
        position: relative;
        .tooltiptext {
            @include tooltip($width: 80px, $margin-left: -40px);
            top: 110%;
        }
        &:hover .tooltiptext {
            visibility: visible;
        }
    }
}

.auto-speech {
    position: relative;
    padding: 0;
    background-color: transparent;
    .tooltiptext {
        @include tooltip($width: 180px, $margin-left: -90px);
        bottom: 110%;
    }
    &:hover .tooltiptext {
        visibility: visible;
    }
}

.icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    @include transition;
    cursor: pointer;
}

.main {
    @include flex();
    flex-direction: column;
}

.translation {
    margin-bottom: 5px;
    min-height: 20px;
}

.word-block {
    border: 1px solid rgb(43, 39, 39);
    padding: 5px;
    min-width: 70px;
    height: 88px;
    text-align: center;
    flex-grow: 1;
    @include flex();
}

.guess__word-block {
    max-width: 120px;
    height: 33px;
}

.results-sentences {
    // width: 80vw;
    width: 1000px;
    min-height: 70vh;
    margin-bottom: 10px;
}

.result-sentence {
    @include flex();
    width: inherit;
}

.results__word-block {
    @include font($size: 2.5rem);
}

.sentence-to-guess {
    @include flex();
    margin-bottom: 10px;
    width: 1000px;
    // width: 80vw;
}

.btn-container {
    @include flex();
}

.correct {
    color: $colorCorrect;
}

.incorrect {
    color: $colorIncorrect;
}

/*****************STATS*******************/

.results,
.stats {
    position: absolute;
    top: 0;
    background-image: url("../assets/start.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    @include transition;
    padding: 10px;
    text-align: center;
}

.results-container,
.stats-container {
    @include flex();
    flex-direction: column;
    width: 100%;
    max-width: 810px;
    padding: 20px 0;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}

.picture-mini {
    width: 120px;
    height: 90px;
    margin-bottom: 10px;
}

.errors {
    margin: 10px 0;
    font-size: 24px;
}

.success {
    margin: 10px 0;
    font-size: 24px;
}

.errors-number {
    background-color: $colorIncorrect;
    @include stats-counter();
}

.success-number {
    background-color: $colorCorrect;
    @include stats-counter();
}

.success-items {
    margin-bottom: 10px;
}

.item {
    @include flex();
    min-width: 200px;
    background-color: white;
    margin: 0;
}

.item--icon {
    width: 34px;
    height: 34px;
    background-image: url("../assets/audioTranslation.png");
    background-size: cover;
    margin: 0 15px 5px 0;
    cursor: pointer;
}

/***************************************/

// @import "bourbon";

// Colors
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

// Fonts
$fontAsap: "Asap", sans-serif;
.login-window {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $redFire;
    z-index: 3;
}

.login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    transition: transform 300ms, box-shadow 300ms;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 600px;
        height: 600px;
        border-top-left-radius: 40%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 35%;
        border-bottom-right-radius: 40%;
        z-index: -1;
    }

    &::before {
        left: 40%;
        bottom: -130%;
        background-color: rgba($blueQueen, 0.15);
        animation: wawes 6s infinite linear;
    }

    &::after {
        left: 35%;
        bottom: -125%;
        background-color: rgba($greenSeaweed, 0.2);
        animation: wawes 7s infinite;
    }

    > input {
        font-family: $fontAsap;
        display: block;
        border-radius: 5px;
        font-size: 16px;
        background: white;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 10px 10px;
        margin: 15px -10px;
    }

    > button {
        font-family: $fontAsap;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        width: 80px;
        border: 0;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: -5px;
        border-radius: 5px;
        background-color: $redFire;
        transition: background-color 300ms;

        &:hover {
            background-color: darken($redFire, 5%);
        }
    }
}

@keyframes wawes {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
    color: rgba(white, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}

/***************************************/
