@mixin flex($justify-content: center) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: $justify-content;
}

@mixin font ($size, $weight: normal, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
}

@mixin transition {
    transition: all .3s ease-out;
}

@mixin stats-counter {
    color: $colorBtnFont;
    border-radius: 20%;
    padding: 7px;
    margin-left: 5px;
}

@mixin tooltip($width, $margin-left) {
    visibility: hidden;
    width: $width;
    margin-left: $margin-left;
    left: 50%;
    background-color: rgb(92, 82, 82);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
}